body {
    margin: 0;
    background: rgb(240, 79, 16);
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
}

.bg-text {
    color:white;
    font-weight: bold;
    border:  3px solid plum;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One';
}

.custom-section {
    padding: 50px;
}

.cb {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text {
    font-family: 'Knewave', cursive;
}
.home {
    background-image: url("./images/fondo.jpg");
}

footer {
    background: black;
    padding: 20px 0;
    color: white;
    margin-top: 40;
}